/*============================Général====================================*/

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/*============================Header====================================*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

ul a {
  text-decoration: none;
  margin-right: 20px;
}

nav a {
  color: inherit;
}

nav a:hover {
  color: #0065fc;
  border-top: 1px solid #0065fc;
  padding-top: 39px;
}

@media screen and (max-width: 375px) {
  header {
    flex-direction: column;
    border-bottom: 1px solid grey;
  }
  .filtre {
    flex-direction: column;
  }

  #logo {
    padding-left: 70px;
  }
  nav a:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    border-top: transparent;
    padding-bottom: 15px;
  }
}
/*==============================Bouton Recherche===================================*/

.search {
  display: flex;
}

i {
  padding: 10px 10px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}
.placeholder {
  padding: 10px;
  border-style: solid;
  color: black;
  font-weight: bold;
}

input::placeholder {
  font-weight: bold;
}

.button {
  color: white;
  font-weight: bold;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  padding: 0 20px;
  border: none;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.fas.fa-search {
  display: none;
}

@media (max-width: 768px) {
  #Recherche {
    text-align: center;
  }
  .search {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .button {
    display: initial;
  }
  .button .rechercher {
    display: none;
  }
  .fas.fa-search {
    background-color: inherit;
    display: inline;
  }
}

/*==============================Filtre===================================*/

.filtre {
  /*général*/
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 30px;
}

.filtreliste .fas {
  /*filtre icone*/
  color: #0065fc;
  background-color: #deebff;
  width: 40px;
  height: 40px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
.filtreliste {
  /*icône+texte*/
  border: 1px solid #f2f2f2;
  border-radius: 40px;
  margin: -3px;
}

.filtre :hover {
  transform: scale(1.05);
}

.filtreliste span {
  /*filtre texte*/
  font-weight: bold;
  margin: 20px;
}

/*============================Information===============================*/

.information {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.information .fas {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  background-color: white;
  color: #0065fc;
}

/*============================Hébergement+Populaire===================================*/

.Bloc1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  .Bloc1 {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .Bloc1 {
    flex-direction: column-reverse;
  }
}

/*============================Hébergement===================================*/
.Blocencart {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

@media (max-width: 768px) {
  .Blocencart {
    justify-content: center;
    width: 100%;
    gap: 100px;
  }
}

@media (max-width: 375px) {
  .Blocencart {
    width: 300%;
    flex-direction: column;
    gap: 20px;
  }
}

.Hébergement {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  flex-basis: 65%;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
}

.Hébergement h3 {
  padding: none;
  margin: none;
}

.Encart {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 33%;
  box-shadow: 6px 5px 5px lightgrey;
}

.Encart .nomhôtel {
  font-weight: bold;
}

.tarif span {
  font-weight: bold;
}

.Encart img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.Blocencart .Encart:hover {
  transform: scale(1.05);
}

/*================Etoile================*/
.Encart .fas {
  padding: 0.5px;
}
.bluestar {
  background-color: white;
  color: #0065fc;
}
.greystar {
  background-color: white;
  color: grey;
}
.Encartpopulaire .fas {
  padding: 0.5px;
}

.Hébergement a {
  /*==Texte==*/
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 20px;
}

/*============================Populaire===================================*/
.Populaire {
  flex: 1;
  width: 30%;
  background-color: #f2f2f2;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
}

.ensembletitre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.Blocpopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
}

.Encartpopulaire {
  display: flex;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  height: 200px;
  box-shadow: 6px 5px 5px lightgrey;
}

.Encartpopulaire img {
  width: 50%;
  width: 130px;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

.Populaire .Encartpopulaire:hover {
  transform: scale(1.05);
}

.Encartpopulaire .nomhôtel {
  padding: 10px;
}

.Blocpopulaire .nomhôtel span {
  font-weight: bold;
}

.Blocpopulaire .nomhôtel .étoile {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .Blocpopulaire .nomhôtel .étoile {
    padding-top: 10px;
  }
  .Populaire {
    width: 100%;
  }
  .Encartpopulaire img {
    width: 270px;
  }
}

@media (max-width: 375px) {
  .Encartpopulaire img {
    width: 140px;
  }
  .Bloc2 {
    flex-direction: column;
  }
  .Blocactivité {
    flex-direction: column-reverse;
    width: 215%;
  }
  .longue {
    height: 200px;
  }
  .petite {
    width: 200px;
  }
}

/*================Activité================*/
.Bloc2 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

#activité {
  padding: 15px;
}
.Bloc2 .span {
  font-weight: bold;
}
.Bloc2 img {
  width: 100%;
  border: 1px solid white;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.Blocactivité {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
}

.longue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  box-shadow: 6px 5px 5px lightgrey;
}

.longue span {
  margin: 20px;
  font-weight: bold;
}

.longue img {
  height: 460px;
  object-fit: cover; /*s'adapte au container*/
}

.petite {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  box-shadow: 6px 5px 5px lightgrey;
}

.petite img {
  height: 200px;
}

.petite span {
  margin: 20px;
  font-weight: bold;
}

@media (max-width: 375px) {
  .Blocactivité {
    width: 760px;
  }

.longue {
  flex-direction :row;
  height: 265px;
}

.longue img {
  height: 200px;
}
}

/*============================Footer====================================*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

footer div {
  padding-right: 85px;
}

footer ul {
  padding-left: 0px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: normal;
  list-style-type: none;
}

footer li {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  footer div {
    padding-right: 20px;
  }
}
